body{
    margin:0;
    padding-top:80px;
    padding-left:96px;
    
}

#p1{
    margin-top:10px;  
    font-weight:500;
    font-size:15px;
    line-height:21px;
    margin-bottom:0;
    font-family:roboto;
}

#p2{
    color:rgb(96, 96, 96);
    font-size:13px;
    margin-top:10px;
    margin-bottom:0;
    font-weight:400;
    font-family:roboto;
}

#p3{
    color:rgb(96, 96, 96);
    font-size:13px;
    margin-bottom:0px;
    margin-top:5px;
    font-family:roboto;
    font-weight:400;
}


