.video-grid{
        
    display:grid;
    grid-template-columns: 320px 320px 320px 320px;
    column-gap:15px;
    row-gap:40px;
      
  }
  .video-thumbnail {
      width:320px;
      height:180px;
      position:relative;
  }


  #thumbnail{
      width:320px;
      height:180px;
  }

  #thumbnail:hover{
    cursor:pointer;
}

  .video-time{
    position:absolute;
    background-color:black;
    color:white;
    font-family:roboto;
    bottom:5px;
    right:5px;
    font-weight:500;
    font-size:12px;
    padding:4px ;
    border-radius:2px;
  }
  .video-info-grid{
    display:grid;
    grid-template-columns: 50px 250px;
    column-gap: 5px;

  }
  
#picture{
  width:35px;
  height:35px;
  border-radius:50%;
  margin-left:5px;
  margin-top:10px;

}